# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyAwCWJzfMhQ1BWVje_F_ziVDt5Qbevg4aQ
REACT_APP_FIREBASE_AUTH_DOMAIN=video-meeting-app-c5ebd.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=video-meeting-app-c5ebd
REACT_APP_FIREBASE_STORAGE_BUCKET=video-meeting-app-c5ebd.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=681395725391
REACT_APP_FIREBASE_APP_ID=1:681395725391:web:8afff8bee1ae5ed6ab363a
REACT_APP_FIREBASE_MEASUREMENT_ID=G-ME3LQPVG7C

# ZegoCloud Configuration
REACT_APP_ZEGOCLOUD_APP_ID=834149155
REACT_APP_ZEGOCLOUD_SERVER_SECRET=bfbcd56a00f7a743a01cd980f4d51b0a
